
/.Deepskilling/
scripts/


**/target/
**/out/
*.class


**/node_modules/
**/build/
**/.cache/
.m2/
.maven/
.npm-cache/


*.log
*.pid
.env
.env.*
!.env.example
*.h2.db
*.mv.db
*.trace.db


.idea/
*.iml
.vscode/*.code-workspace
